
.origami-notification {
    position: fixed;
    background-color: hsl(228, 100%, 82%);
    width: 340px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: top;
}

.origami-notification:hover {
    transform: translate(1px, 0);
}

.origami-notification.is-glad {}
.origami-notification.is-fail {}
.origami-notification.is-fine {}
.origami-notification.is-info {}
